.shops-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

#empty-shops {
  margin-top: 0px;
}

#shops-page-sub-header {
  margin: 10px;
}

#shops-challenger {
  font-size: 1.2rem;
}

#shops-filter-settings {
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  max-width: 500px;
}

#shops-filter-input {
  width: 180px;
  margin-top: 10px;
}

#shops-filter-input-wrapper {
  margin: 5px 0;
}

.shops-filter {
  width: 80px;
  margin-right: 10px;
}

#shops-filter-reset {
  cursor: pointer;
  color: var(--pink);
  font-size: 0.8rem;
  font-weight: normal;
}

#shops-filter-reset:hover {
  font-weight: bold;
}

.shops-filter-container {
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  box-sizing: border-box;
  padding: 25px;
}

.shops-filter-text {
  margin: 5px;
  cursor: pointer;
}

.shops-filter-text:hover {
  font-weight: bold;
}

.shop-filter-default {
  margin: 5px;
  text-decoration: underline;
}

.shops-filter-form-header {
  font-weight: bold;
  color: var(--darkBlue);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.shops-filter-reset {
  width: 80%;
  position: absolute;
  bottom: 20px;
}

#shops-challenger-name {
  font-weight: bold;
}

/* INSERTED FILTERS */
#inserted-filters {
  margin-top: 20px;
}

.filter-header {
  font-weight: bold;
  font-size: 1.1rem;
}
.inserted-filters-value {
  font-weight: bold;
  color: var(--darkBlue);
}
