#shops-description {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.shops-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.shops-filter {
  width: 140px;
  font-size: 1rem;
}

.shops-text {
  font-weight: bold;
}

.shops-order-button {
  cursor: pointer;
}
