#spread-wrapper {
  display: flex;
  align-items: flex-start;
}

#spread-products-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
  min-width: 290px;
}

#spread-button {
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
}
