#shopProfile-header {
  max-width: 500px;
  margin-left: 50px;
}

#shopProfle-name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

#shopProfile-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shopProfile-info {
  text-align: center;
}

.shopProfile-info-number {
  font-size: 1.5rem;
  font-weight: bold;
}

#shopProfile-description {
  font-size: 1.3rem;
  line-height: 18px;
}

#shopProfile-goalsDone-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#shopProfile-goalsDone-loader-container {
  width: 200px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

#shopProfile-goalsDone-loader {
  background: gray;
  height: 20px;
}

#shopProfile-support {
  width: 100%;
  margin-top: 20px;
}
