#bioInfo-images {
  position: relative;
}

#bioInfo-bacground {
  height: 150px;
  font-size: 4rem;
}

#bioInfo-logo {
  position: absolute;
  bottom: -40px;
  left: 20px;
  border: 1px solid black;
  font-size: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.bioInfo-image-input {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
