#checkout-confirm {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 40px;
}

.form-container {
  margin-top: 40px;
}

#ship-again-button {
  width: 350px;
}
