#insertUser-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

#insertUser-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

#checkout-confirm {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 40px;
}

.form-container {
  margin-top: 40px;
}
