/* Root Component */

#bottomHalf {
  margin: 20px;
  height: 5000px;
}

.home-search-bar {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 20px;
}

.home-search-input {
  width: 50%;
  margin-right: 20px;
}

.home-search-submit {
  width: 80px;
  font-size: 0.8rem;
}

/* Navigator */
#bottomHalf-nav-container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#topHalf {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url("../../images/home-background.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.topHalf-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  font-size: 1.5rem;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
}

#topHalf-banner-container {
  position: absolute;
  height: 150px;
  top: 100px;
}
