#bar-chart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#bar-chart-resize {
  position: absolute;
  bottom: -20px;
  left: 20px;
  cursor: pointer;
}

#resize-text {
  text-decoration: underline;
  margin-left: 5px;
}
