#validate-account {
  position: relative;
}

#warning-icon {
  color: red;
  margin-left: 10px;
}

#validate-account-warning {
  color: red;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
}

.validate-account-button-container {
  height: 100px;
}

#validate-account-button {
  width: 100%;
  margin-top: 30px;
}

#validate-account-step-counter {
  color: var(--lightBlue);
  position: absolute;
  right: 10px;
  bottom: 10px;
}
