.settings-info-container {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

.setting-info {
  margin-bottom: 40px;
}

#setting-user-image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  display: block;
}

.setting-name {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
}

.setting-edit {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.setting-error {
  margin-top: 80px;
}

.setting-confirm {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 200px;
}
