.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
  height: 250px;
  margin-bottom: 40px;
}

.log-form input {
  width: 80%;
  box-sizing: border-box;
  margin: 10px;
}

.log-form-subtext {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  display: block;
}

.log-form-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.form-header {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
}

.button {
  background: black;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: 250px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.button-small {
  background: black;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.button:hover {
  box-shadow: 3px 3px 10px black;
}

.button-small:hover {
  box-shadow: 3px 3px 10px black;
}

.button.button-disabled:hover {
  box-shadow: none;
  cursor: default;
}

.input-header {
  font-weight: bold;
}

.form-error {
  color: red;
  text-align: center;
  margin: 10px;
}

.long-width {
  width: 70%;
}

.short-width {
  width: 20%;
}
