#shop-profile {
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}

#shop-profile-body {
  max-width: var(--profileMaxWidth);
}

#shopProfile-header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

#shop-nav {
  margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  /* put shop info in the footer */
  #shop-profile {
    display: block;
    max-width: var(--profileMaxWidth);
  }
}
