#userProfile-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}

#profile-header-container {
  width: 70%;
}

#userProfile-logo {
  width: 300px;
  margin-right: 50px;
}

#userProfile-logo img {
  width: 300px;
  border: 1px solid black;
  display: block;
  min-height: 300px;
}

#userProfile-shops-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

#userProfile-empty-shops {
  margin-top: 100px;
}

@media only screen and (max-width: 800px) {
  #userProfile-header-container {
    padding: 5px;
  }

  #userProfile-logo {
    width: 200px;
    min-width: 200px;
    margin: 0px;
  }
}

@media only screen and (max-width: 450px) {
  #userProfile-logo {
    width: 150px;
    min-width: 150px;
  }
}
