#userProfile-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#userProfile-logo {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 150px;
  padding: 30px;
  box-sizing: border-box;
}

#userProfile-logo img {
  width: 300px;
  border: 1px solid black;
  display: block;
  min-height: 300px;
}

#userProfile-shops-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

#userProfile-empty-shops {
  margin-top: 100px;
}
