#value-increase-wrapper {
  height: 100%;
  border-left: 1px solid var(--gray);
  min-width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 30px;
}

#value-increase-header {
  width: 100px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 15px;
}

/* 15 shops fit inside them */
#value-increase {
  position: relative;
  transition-timing-function: linear;
  width: 2250px;
  animation-name: roll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes roll {
  0%,
  10%,
  100% {
    right: 0px;
  }
  50%,
  60% {
    right: 2250px;
  }
}

#shop-increase-box {
  border-right: 1px solid var(--gray);
  width: 150px;
  box-sizing: border-box;
  padding: 5px;
  min-width: 150px;
}

#shop-increase-header {
  justify-content: space-between;
  padding-top: 5px;
  height: 100%;
}

#shop-increase-box img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#shop-increase-box-name {
  font-size: 0.8rem;
  width: 100px;
  line-height: 12px;
}

#shop-increase-prices {
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

#shop-increase-box-current {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
}

#shop-increase-box-increase {
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  #value-increase-header {
    width: 45px;
    font-size: 1rem;
  }

  #value-increase {
    animation-duration: 60s;
  }
}
