.popUp {
  position: absolute;
  background: var(--light);
  border-radius: 10px;
  top: 50%;
  left: 50%;
}

.popUp-background {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* any component which should have a border */
.box {
  box-shadow: var(--shadow);
  background: var(--white);
  border-radius: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-line {
  display: flex;
  align-items: center;
}

.flex-line.center {
  justify-content: center;
}

.icon {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container for shop boxes (user profile and shops) */
.shopBoxes-container {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
