.quick-facts {
  width: 250px;
  min-width: 250px;
  height: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.quick-facts-margin {
  margin: 20px;
}

.quick-facts-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quick-facts.wide {
  width: 300px;
  min-width: 300px;
}

.facts-header {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.facts-container {
  width: 90%;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 10px 0;
}

.fact {
  margin: 20px;
}

.fact-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fact-align-between {
  justify-content: space-between;
}

.fact-align-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

.fact-align-image.viral {
  box-shadow: 0px 0px 5px lime;
}

.fact-title {
  font-size: 1.5rem;
}

.fact-title-small {
  font-size: 1.2rem;
}

.fact-data {
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-data-small {
  font-size: 1rem;
}

.fact-aside {
  font-size: 1rem;
  font-weight: normal;
}

/* SERVICES AND GOALS */
.sg-add {
  font-size: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.sg-add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.sg-add-title {
  margin-right: 20px;
}

@media only screen and (max-width: 700px) {
  .quick-facts.beside-chart {
    width: 100%;
    margin: 0 auto;
  }
  .beside-chart .facts-container {
    /* fact beside bar chart */
    display: flex;
    padding: 0;
  }

  .fact {
    margin: 10px;
  }

  .fact-title {
    font-size: 1rem;
  }

  .fact-data {
    font-size: 1.2rem;
  }

  .fact-aside {
    font-size: 0.6rem;
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .fact-title {
    font-size: 0.8rem;
  }

  .fact-data {
    font-size: 0.9rem;
  }
}
