body {
  background: var(--light);
  color: var(--dark);
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  object-fit: cover;
}

label {
  margin: 0px;
  cursor: pointer;
}

input,
select {
  height: 20px;
  font-size: 1rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--gray);
}

textarea {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}

.page-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 120px;
  min-height: 100vh;
  position: relative;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.page-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.hide-cross {
  color: black;
  position: absolute;
  right: 8px;
  top: 5px;
  cursor: pointer;
}

.hide-cross.bottomright {
  top: 100px;
  right: 0px;
}

.slidebar-background-click {
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-profile {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .page-wrapper {
    margin-top: 80px;
    width: 99%;
  }
}
