:root {
  --darkBlue: #3c82fa;
  --lightBlue: #64d2fa;
  --pink: #ed217c;
  --green: #388659;
  --yellow: #fff05f;
  --light: #f0f2f5;
  --gray: gray;
  --white: white;
  --black: black;
  --coloredBackground: black;
  --iconHover: #0072ff;
  --dark: #222;
  --shadowColor: rgba(0, 0, 0, 0.2);
  --shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
