#home-button-container {
  margin-top: 150px;
  box-sizing: border-box;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
}

#challgne-text {
  font-size: 1.5rem;
  width: 250px;
  font-weight: bold;
  color: white;
  line-height: 20px;
}

#home-button {
  margin-top: 30px;
}
