#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  padding: 0px 20px;
  top: 0px;
  background: var(--white);
  height: 80px;
  box-shadow: 0 2px 5px 0 var(--shadowColor);
}
#header-nav {
  display: flex;
  max-width: 800px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.header-nav-item {
  font-weight: bold;
  color: var(--dark);
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 20px;
}

#header.topHalf {
  background: transparent;
  box-shadow: none;
}

#header.topHalf .header-nav-item {
  color: var(--white);
}

.header-nav-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#cart-container {
  transition: height 0.5s;
}
