.popUp {
  position: absolute;
  background: var(--light);
  border-radius: 10px;
  top: 50%;
  left: 50%;
}

.popUp-background {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* any component which should have a border */
.box {
  box-shadow: var(--shadow);
  background: var(--white);
  border-radius: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-line {
  display: flex;
  align-items: center;
}

.flex-line.center {
  justify-content: center;
}

.icon {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container for shop boxes (user profile and shops) */
.shopBoxes-container {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* BODY BOX 
is the box that shows body information (a box that takes the full width) */

.body-box {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.body-box-header {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.body-box-header.dark {
  color: var(--dark4);
}

.body-box-line {
  margin: 10px 0px;
}

.body-box-icon {
  width: 20px;
  min-width: 20px;
  text-align: center;
  margin-right: 10px;
  font-size: 1.1rem;
  color: var(--gray);
}

.body-box-text {
  font-size: 0.8rem;
  line-height: 15px;
}

a.body-box-text {
  color: var(--darkBlue);
}

/* DARK BOX */
.dark-box-container {
  background: var(--dark1);
  border-radius: 5px;
}

.dark-box-body {
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.dark-box {
  background: var(--dark2);
  border-radius: 5px;
  width: 200px;
  height: 120px;
  box-sizing: border-box;
  padding: 10px;
}

.dark-box-header-container {
  justify-content: space-between;
  font-size: 1.7rem;
}

.dark-box-text {
  color: var(--dark4);
}

.dark-box-title {
  font-weight: bold;
}

.dark-box-description {
  font-size: 0.8rem;
  line-height: 13px;
}
