body {
  background: var(--light);
  color: var(--dark);
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  object-fit: cover;
}

label {
  margin: 0px;
  cursor: pointer;
}

input,
select {
  height: 20px;
  font-size: 1rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--gray);
}

input,
select:focus {
  outline-width: 0;
}

textarea {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}
