/* Statistics Container */

#statistics-container {
  height: 40vh;
}

#statistics {
  display: flex;
  justify-content: space-around;
  height: 40vh;
}

#statistics-container.hidden {
  display: none;
}

/* QuickFacts */

#quick-facts {
  width: 250px;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
}

#facts-container {
  width: 90%;
  margin: 0px auto;
}

#facts-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.fact {
  margin: 20px;
}

.fact-title {
  font-size: 1.5rem;
}

.fact-data {
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-aside {
  font-size: 1rem;
  font-weight: normal;
}
