/* Statistics Container */

#statistics-container {
  height: 40vh;
}

#statistics {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
}

#statistics-container.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {
  #statistics {
    flex-direction: column;
    height: auto;
  }

  #shop-stats-barChart {
    margin-top: 20px;
  }
}
