#stock-form {
  margin-top: 50px;
}

#stock-form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

#stock-form-inputs .input-line {
  width: 200px;
  overflow: hidden;
}

#stock-form-inputs .input-line input,
select {
  width: 100%;
}

#shop-credentials-checkboxes {
  margin: 30px 0;
}

@media only screen and (max-width: 420px) {
  #stock-form-inputs {
    justify-content: center;
  }
}
