#shopProfile-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#shopProfile-logo {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 150px;
  padding: 30px;
  box-sizing: border-box;
}

#shopProfile-nav {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin: 0 auto;
}
