#shopProfile-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

#shopProfile-nav {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin: 0 auto;
}

#boxes-container {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 400px;
  margin-bottom: 200px;
}

#service-explanaiton {
  width: 80%;
  min-width: 350px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 10px;
  font-size: 0.9rem;
  margin-top: 10px;
}
