.shop-register-body {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  min-width: 300px;
}

.shop-register-body-header {
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

.shop-register-body-description {
  box-sizing: border-box;
  padding: 10px;
  color: var(--gray);
  margin-top: 20px;
}

.shop-register-button-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.input-container {
  display: grid;
}

.input-line {
  display: grid;
  margin-top: 10px;
}

.input-line input,
select,
textarea {
  margin-bottom: 10px;
}

.input-box {
  margin-bottom: 10px;
}

/* SHOP CREDENTIALS */
.shop-credentials-checkbox {
  margin-top: 5px;
}

.shop-register-body input,
select,
textarea:focus {
  outline-width: 0;
}

.shop-register-body input.check-input {
  width: auto;
  margin-right: 10px;
}

.shop-register-body label.check-label {
  font-size: 1rem;
  font-weight: normal;
  color: var(--dark);
  line-height: 15px;
}

.shop-register-body label {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--pink);
}

/* ADD INFO COMPONENTS */
#service-icon-container {
  border: 1px solid black;
}

#hideCross-container {
  background: white;
  top: -5px;
  right: -5px;
  position: absolute;
  font-size: 0.8rem;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  #addInfo-container {
    width: 350px;
    margin-left: -175px;
  }

  .shop-register-body-header {
    font-size: 1.3rem;
  }
}
