.shop-register-container {
  height: 80vh;
  position: relative;
}

.shop-register-button {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

#shop-register-goals-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#shop-register-done-panel {
  margin-top: -100px;
}

#shop-register-done-marketing-button {
  width: 100%;
}

.shop-register-body {
  width: 90%;
  margin: 0 auto;
}

.register-warning {
  font-size: 1.3rem;
  margin: 20px 0;
  line-height: 20px;
}

/* BIOINFO */
#bio-forms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bioInfo-background-container {
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
}

/* SHOP CREDENTIALS */
#shop-credentials-checkboxes {
  margin-top: 20px;
}

.shop-credentials-checkbox {
  margin-top: 10px;
}

/* FORMS */
#input-container {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  max-width: 600px;
}

.shop-register-body input,
select {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
}

.shop-register-body input,
select,
textarea:focus {
  outline-width: 0;
}

.shop-register-body input.check-input {
  width: auto;
  margin-right: 10px;
}

.shop-register-body label.check-label {
  font-size: 1rem;
  font-weight: normal;
  color: var(--dark);
  line-height: 15px;
}

.shop-register-body label {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--pink);
  margin-bottom: 5px;
}

.shopRegister-input-container {
  display: grid;
}

/* HEADER */
#shopRegister-header {
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

#shopRegister-header-container {
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-button-container {
  flex-wrap: wrap;
  padding-bottom: 10px;
  /* justify-content: center; */
}

.header-button {
  margin: 0 10px;
  margin-top: 10px;
  background: var(--pink);
}

.header-step-container {
  cursor: pointer;
}

.header-step-title {
  font-size: 0.8rem;
}

.header-step-container.active {
  font-weight: bold;
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.header-step-container.active .header-step-title {
  font-size: 1rem;
}

.header-step-container.active .header-step-icon {
  font-size: 1.5rem;
}

.header-step-icon {
  font-weight: bold;
  font-size: 1rem;
}

/* ADD INFO */
#addInfo-container {
  width: 500px;
  margin-left: -250px;
  height: 400px;
  margin-top: -175px;
  box-sizing: border-box;
  padding: 20px;
}

#addInfo-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--darkBlue);
  font-weight: bold;
}

#addInfo-description {
  line-height: 15px;
  font-size: 0.9rem;
}

#bestSelling-container {
  width: 60%;
  margin: 0px;
}

#bestSelling-header {
  margin-top: 10px;
  font-weight: bold;
}

.bestSelling-title {
  font-size: 0.8rem;
  line-height: 20px;
}

.addInfo-form {
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}

#addInfo-submit {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#addInfo-error {
  margin-top: 10px;
}

/* ADD INFO COMPONENTS */
#service-icon-container {
  border: 1px solid black;
}

#hideCross-container {
  background: white;
  top: -5px;
  right: -5px;
  position: absolute;
  font-size: 0.8rem;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .header-step-title {
    display: none;
  }

  .header-step-container.active .header-step-title {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  #addInfo-container {
    width: 350px;
    margin-left: -175px;
  }
}
