#topHalf {
  position: relative;
  width: 100%;
  height: 50vh;
}

#home-background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#topHalf-content {
  margin: 20px;
  position: absolute;
  top: 0px;
  width: 90%;
}

#topHalf-header {
  display: flex;
  justify-content: space-between;
}

/* Logo */

#topHalf-logo {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

/* Button */

#home-button-container {
  margin-top: 150px;
}

#challgne-text {
  font-size: 1.5rem;
  width: 250px;
  font-weight: bold;
  color: white;
  line-height: 20px;
}

#home-button {
  margin-top: 30px;
}

/* Navigator */
#home-nav {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.home-nav-item {
  font-weight: bold;
  color: white;
  cursor: pointer;
}
