.profile-header {
  min-width: 400px;
  width: 60%;
  max-width: 600px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.profile-header-settings {
  position: absolute;
  top: 0px;
  right: 20px;
}

.settings-button {
  font-size: 1.8rem;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.profile-name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

.profile-place {
  font-weight: bold;
}

.profile-description {
  font-size: 1rem;
}

.profile-button {
  width: 100%;
  margin-top: 20px;
}

#profile-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-info {
  text-align: center;
}

.profile-info-number {
  font-size: 1.5rem;
  font-weight: bold;
}

#shop-price {
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#shop-price-value {
  margin-left: 5px;
  font-size: 1.2rem;
}
