.profile-header {
  min-width: var(--boxMinWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 10px;
}

#user-profile-header {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.profile-header-settings {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

.settings-button {
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.profile-name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  margin-top: 10px;
}

#profile-shop-logo {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  margin-right: 20px;
  font-size: 0.8rem;
}

.profile-place {
  font-weight: bold;
}

.profile-description {
  font-size: 1rem;
}

.profile-button {
  width: 100%;
  margin-top: 20px;
}

#profile-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-info {
  text-align: center;
}

.profile-info-number {
  font-size: 1.5rem;
  font-weight: bold;
}

#shop-price {
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#shop-price-value {
  margin-left: 5px;
  font-size: 1.2rem;
}

#number-to-viral-button {
  font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
  #number-to-viral-button {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .profile-name {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .profile-description {
    font-size: 0.8rem;
  }

  .profile-place {
    font-size: 0.9rem;
  }

  .profile-button {
    font-size: 1.1rem;
    height: 30px;
    line-height: 30px;
  }

  .profile-info-number {
    font-size: 1rem;
  }

  .profile-info-description {
    font-size: 0.8rem;
  }

  #number-to-viral-button {
    font-size: 0.5rem;
  }
}
