#empty-table {
  background: rgb(200, 200, 200);
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
}

#empty-table-header {
  font-weight: bold;
}

.table-wrapper {
  display: table;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.table-wrapper.overflow {
  max-height: 40vh;
  display: block;
  overflow: overlay;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table .hoverable:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px black;
}

th {
  text-align: start;
  height: 25px;
  background: var(--yellow);
}

tr {
  border: 1px solid white;
}

tr:nth-child(even) {
  background: var(--white);
}

td {
  height: 30px;
}

.table-image {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
