#shopProfile-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

#shopProfile-nav {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin: 0 auto;
}
