.settings-slidebar {
  width: 150px;
  height: 250px;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  right: -10px;
  box-shadow: var(--shadow);
  background: var(--light);
  font-size: 0.9rem;
  border-radius: 5px;
}

.settings-wrapper {
  background: var(--white);
  width: 350px;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.settings-name {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--darkBlue);
}

.setting-error {
  margin-top: 80px;
}

.settings-confirm {
  width: 100%;
  margin-top: 50px;
}

.settings-option {
  margin: 10px 5px;
  cursor: pointer;
  display: block;
}

.settings-option:hover {
  font-weight: bold;
}
