/* div containing the input */
.form-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.form-header {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

/* input */
.form-input {
  width: 100%;
  margin: 5px 0px;
}

.full-width {
  width: 100%;
}

.long-width {
  width: 70%;
}

.short-width {
  width: 20%;
}
