#background-submitting {
  display: flex;
  align-items: center;
}

.shop-images {
  width: 100%;
  padding-top: 50%;
  position: relative;
  border-radius: 5px;
  background-size: cover;
}

#shop-background {
  width: 100%;
  height: 100%;
}

.shop-background-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

#background-input {
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: 0px;
  border-radius: 5px;
}

.shop-logo {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  bottom: -30px;
  left: -30px;
}

.shop-logo img {
  height: 200px;
  width: 200px;
  width: auto;
  object-fit: cover;
}

.input-label {
  width: 100%;
  height: 100%;
}

.shop-register-body label.input-label {
  color: var(--lightBlue);
}

.input-label span {
  font-size: 1rem;
  margin-left: 5px;
}

#background-input-label {
  font-size: 2rem;
}

#logo-input-label {
  font-size: 1.5rem;
}

.shop-register-body label.input-label:hover {
  color: var(--darkBlue);
}

.shop-images .hide-cross {
  background: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: red;
}

.hide-cross:hover {
  background: white;
}

#logo-hide {
  margin-left: 50%;
  left: -15px;
  top: 10px;
}

.image-input {
  background: white;
  box-shadow: var(--shadow);
}

@media only screen and (max-width: 700px) {
  .shop-logo {
    width: 120px;
    height: 120px;
    left: -10px;
  }
}
